{% extends 'base_user.html' %}

{% block content %}

<div class="container table__container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Название</th>
                  <th scope="col">Тип</th>
                  <th scope="col">Установка</th>
                  <th></th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
            {% for templete in templates %}
              <tr>
                <th>{{templete.name}}</th>
                <td>{{templete.type.name}}</td>
                <td>{{templete.plant.name}}</td>
                <td><a href="{{url_for('.download_templates', id_template=templete.id)}}">скачать таблицу шаблона</a></td>
                <td><a href="{{url_for('.create_claim', id_template=templete.id)}}">Создать отчет по документу</a></td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}