{% extends 'base_user.html' %}

{% block content %}

<form method="POST" action="{{url_for('.create_document', id_template=id_template)}}" enctype=multipart/form-data>
    <input type=file name=file>
    {% for protocol in form_scheme.protocols %}
    <p>протокол {{ protocol.name }}</p>
        {% for equ in protocol.list_equipment %}

        <p>название {{equ.name}}</p>
        <p>тип {{equ.type_equip}}</p>
        <p>точность {{equ.error}}</p>

        <select name="{{equ.number[2:-2]}}" type-equip="{{equ.type_equip}}">
            <option disabled>выбирите номер прибора</option>
            {% for i in equ.num_device %}
                <option value="{{i.id}}">{{i.num}}</option>
            {% endfor %}
        </select>

        {% endfor %}
        <textarea type="text" name="{{protocol.remark}}" placeholder="Замечания">Нет</textarea>
    {% endfor %}
    {% for j in form_scheme.protocols[0].list_workers %}
        <select name="user_{{loop.index}}">
            <option disabled>Выбирите работника</option>
            {% for i in users %}
                <option value="{{i.id}}">{{i.name}} {{i.surname}} {{i.patronymics}}</option>
            {% endfor %}
        </select>
    {% endfor %}
    <button type="submit">Сгенерировать</button>
</form>
<script src="{{ url_for('.static', filename='js/main.js') }}"></script>
{% endblock %}