{% extends 'base_user.html' %}

{% block content %}
<div class="container form__template__generate">
    <form method="POST" action="{{url_for('.create_claim', id_template=id_template)}}" enctype=multipart/form-data>
        <div class="list-group">
            <div class="mb-3">
                <label for="select_equipment" class="form-label">Выбирите оборудованние</label>
                <select name="select_equipment" class="form-select">
                    <option disabled>Выбирите оборудованние</option>
                    {% for i in equipments %}
                        <option value="{{i.uuid}}">{{i.code}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">Загрузить таблицу данных</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Дата</label>
                <input class="form-control" type="date" id="date" name="date">
            </div>
            <div class="mb-3">
            {% for protocol in form_scheme.protocols %}
                <div class="list-group-item">
                    <h3>Протокол {{ protocol.name }}</h3>
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">Название</th>
                              <th scope="col">Тип</th>
                              <th scope="col">Tочность</th>
                              <th>Номер прибора</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for equ in protocol.list_equipment %}
                            <tr>
                                <th>{{equ.name}}</th>
                                <td>{{equ.type_equip}}</td>
                                <td>{{equ.error}}</td>
                                <td>
                                    <select name="{{equ.number}}">
                                        <option disabled>выбирите номер прибора</option>
                                        {% for i in equ.num_device %}
                                            <option value="{{i.id}}">{{i.num}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="mb-3">
                        <label for="{{protocol.remark}}" class="form-label">Замечания</label>
                        <textarea type="text" name="{{protocol.remark}}" placeholder="Замечания" class="form-control">Нет</textarea>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}