{% extends 'base_admin.html' %}

{% block content %}
<div class="container table__container">
    <div class="row">
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-success" href="{{url_for('.manage_device')}}">добавить прибор</a>
            <a class="btn btn-success" href="{{url_for('.from_type_devices')}}">добавить новый тип</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Название</th>
                  <th scope="col">Тип</th>
                  <th scope="col">Номер</th>
                  <th scope="col">Сертификат</th>
                  <th scope="col">Дата проверки</th>
                  <th scope="col">Дата след проверки</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for device in devices %}
              <tr>
                <th>{{device.name}}</th>
                <td>{{device.type.name}}</td>
                <td>{{device.number}}</td>
                <td>{{device.certificate_number}}</td>
                <td>{{device.date_verification}}</td>
                <td>{{device.date_next_verification}}</td>
                  <td>
                      <a class="btn btn-danger" href="{{url_for('.delete_device', id_device=device.id)}}">Удалить</a>
                      <a class="btn btn-success" href="{{url_for('.manage_device', devices_id=device.id)}}">Редактировать</a>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}