{% extends 'base_admin.html' %}

{% block content %}

<div class="container justify-content-center form__sigin">
    <div class="row align-items-center form__sigin__row">
      <div class="col align-self-center">
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.type.label(class="form-label") }}
            {{ form.type(class="form-select") }}
          </div>
          <div class="mb-3">
            {{ form.number.label(class="form-label") }}
            {{ form.number(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.date_verification.label(class="form-label") }}
            {{ form.date_verification(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.date_next_verification.label(class="form-label") }}
            {{ form.date_next_verification(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.certificate_number.label(class="form-label") }}
            {{ form.certificate_number(class="form-control") }}
          </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}