{% extends 'base_admin.html' %}

{% block content %}

<div class="container justify-content-center form__sigin">
    <div class="row align-items-center form__sigin__row">
      <div class="col align-self-center">
        <form method="post" enctype=multipart/form-data action="/admin/templates/add">
          <div class="mb-3">
             <label for="file" class="form-label">Загрузить шаблон</label>
             <input class="form-control" type="file" id="file" name="file">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Название шаблона</label>
            <input type="text" name="name" class="form-control" id="name"/>
          </div>
          <div class="mb-3">
            <select name="type" class="form-select">
              <option disabled>выбирите тип шаблона</option>
              {% for i in types %}
                  <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <select name="plant" class="form-select">
                <option disabled>выбирите тип устройство</option>
                {% for i in plants %}
                    <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
          </div>
          <button type="submit" class="btn btn-primary">Вход</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}