{% extends 'base_admin.html' %}

{% block content %}

<div class="container justify-content-center form__sigin">
    <div class="row align-items-center form__sigin__row">
      <div class="col align-self-center">
        <form method="post" action="{{url_for('.from_type_devices')}}">
          <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" name="name" class="form-control" id="name"/>
          </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}