{% extends 'base_admin.html' %}

{% block content %}

<div class="container justify-content-center form__sigin">
    <div class="row align-items-center form__sigin__row">
      <div class="col align-self-center">
        <form method="post" >
           {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.surname.label(class="form-label") }}
            {{ form.surname(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.patronymics.label(class="form-label") }}
            {{ form.patronymics(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.id_role.label(class="form-label") }}
            {{ form.id_role(class="form-select") }}
          </div>
          <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.job_title.label(class="form-label") }}
            {{ form.job_title(class="form-control") }}
          </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        </form>
      </div>
    </div>
</div>


{% endblock %}