{% extends 'base_admin.html' %}

{% block content %}

<div class="container justify-content-center form__sigin">
    <div class="row align-items-center form__sigin__row">
      <div class="col align-self-center">
        <form method="post">
           {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.type_device.label(class="form-label") }}
            {{ form.type_device(class="form-control") }}
          </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}